* {
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    /* outline: red dotted; */
}

*:focus {
    outline: none;
}

/* Header Style */
header {
    height: 64px;
    background-color: rgba(3, 37, 65);
    display: flex;
    flex-direction: row;
}

.left_side {
    width: 25%;
}

.left_side img {
    width: 150px;
    padding: 20px;
    padding-left: 80px;
}

.right_side {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.right_side a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 40px
}

.right_side a:hover {
    color: rgb(55, 98, 255);
    transition-duration: .3s;
}

/* Main Style */

main {
    display: flex;
    justify-content: center;
}

.top_content_wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    width: 90%;
    height: 350;
    background-image: linear-gradient(to left, rgba(3, 37, 65, .8), rgba(3, 37, 65, 1));
}

.top_content {
    margin: 60px;
}

.top_content_wrapper h1 {
    font-size: 48px;
}

.top_content_wrapper h3 {
    font-size: 32px;
}

.search_bar_wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;

}

.search_bar_wrapper input {
    width: 85%;
    height: 50px;
    border-radius: 50px;
    padding-left: 25px;
    font-size: 18px;
}

.search_bar_wrapper button {
    color: white;
    font-weight: bold;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-image:  linear-gradient(to right, rgba(30, 213, 169), rgba(1, 180, 228));
}


/* Main Content Style */

.main_content_wrapper {
    display: flex;
    justify-content: center;
    height: auto;
}

.main_content_container {
    width: 90%;
    /* outline: red dotted 2px; */
    min-height: 410px;
}

.main_content_header {
    margin-left: 60px;
    margin-top: 25px;
}

/* Cards Style */

.main_content_cards_container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.main_content_card {
    margin: 20px;
    width: 150px;
    min-width: 150px;
    border-radius: 20px;
    overflow: visible;
}

.main_content_img_container {
    width: 100%;
}

.main_content_img_container img {
    width: 100%;
    min-height: calc(150px * 1.5);
    border-radius: 20px;
}

.card_header {
    margin-left: 10px;
    margin-top: 10px;
}

.card_header a {
    font-size: 1.2em;
    font-weight: bold;
}

/* Footer Style */

footer {
    background-color: rgba(3, 37, 65);
    height: 140px;
}

.footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.footer_wrapper img {
    width: 100px;
    padding: 10px;
}

.footer_img_wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.footer_copyright_wrapper {
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
}